@import '../../variables.scss';

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: $color-gray-light;
    background-color: $color-gray;
    font-size: 14px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}