@import '../../variables.scss';
.row {
    padding-bottom: 50px;

    .mat-form-field {
        width: 100%;
    }

    .date-picker {
        ::ng-deep .mat-form-field-infix {
            display: flex;
        }
    }

    button {
        background-color: $color-primary;
        margin-top: 20px;
    }
}

.button-wrapper {
    display: flex;
    justify-content: end;
    margin: 20px;
}

