@import 'variables.scss';

.container {
    background-color: $color-gray-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 100px 0

}